/* global variables */
:root {
  --clr-primary: #3e4db5;
  --clr-primary-light-dark: #6877db;
  --clr-primary-light: #d8dff9;
  --clr-white: #ffffff;
  --clr-white-light: #f5f9fe;
  --clr-white-dark: #f0f3fb;
  --clr-shadow: #00000029;
  --clr-black: #333333;
  --clr-black-30: #2220204d;
  --clr-black-80: #222020cc;
  --clr-black-90: #212020e6;
  --clr-pink-light: #fdf2f2;
  --clr-blue-light: #f2fdfb;

  --font-family: Arial, Helvetica, sans-serif;
  --box-shadow-light: 0px 3px 7px var(--clr-shadow);
  --box-shadow-dark: 0px 3px 7px var(--clr-black-30);
  --transition: all 0.3s linear;
  --radius: 4px;
}

/* global styles */
*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  outline-width: 2px;
  outline-offset: 1px;
  outline-color: var(--clr-primary);
}
body {
  color: var(--clr-black);
  background: var(--clr-white-light);
  font-family: var(--font-family);
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

/* global classes */
.wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.text-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.display-block {
  display: block !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media screen and (max-width: 991px) {
  .full-width-mobile {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .full-width-desktop {
    width: 100%;
  }
}
.light-pink-background {
  background: var(--clr-pink-light);
}
.light-blue-background {
  background: var(--clr-blue-light);
}
.section-title .title {
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
  color: var(--clr-primary);
}
.section-title .underline {
  width: 60px;
  height: 5px;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
}
.button-primary-dark,
.button-primary-light {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  height: 45px;
  transition: var(--transition);
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);
}
.button-primary-dark {
  background: var(--clr-primary);
  color: var(--clr-white);
}
.button-primary-light {
  background: var(--clr-white);
  color: var(--clr-primary);
}
.button-primary-dark:hover {
  background: var(--clr-primary-light-dark);
  box-shadow: var(--box-shadow-dark);
}
.button-primary-light:hover {
  background: var(--clr-white-light);
  box-shadow: var(--box-shadow-dark);
}
.primary-input,
.primary-textarea {
  height: 45px;
  font-size: 16px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: calc(var(--radius) - 2px);
  border: 1px solid var(--clr-shadow);
  letter-spacing: 1px;
  font-family: var(--font-family);
}
.primary-textarea {
  height: unset;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: vertical;
}
.primary-input::placeholder,
.primary-textarea::placeholder {
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .button-primary-dark,
  .button-primary-light {
    height: 50px;
    min-width: 220px;
  }
  .primary-input {
    height: 50px;
  }
}

@keyframes bounceAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

/* main-home container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home-center .sidebar-container {
  flex: 0 0 10%;
  padding-right: 30px;
}
.home-center .home-page-centent {
  /* flex: 0 0 calc(90% - 30px); */
  width: 100%;
}

/* carousel-cards-container */
.carousel-cards-container {
  width: 100%;
}
.carousel-cards-container .carousel-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-cards .each-card {
  flex: 0 0 calc(25% - 15px);
}
.carousel-cards .each-card {
  padding: 20px;
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);
  transition: var(--transition);
}
.carousel-cards .each-card:hover {
  box-shadow: var(--box-shadow-dark);
}
.carousel-cards .each-card .card-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.carousel-cards .each-card .card-logo {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.carousel-cards .each-card.english-card .card-logo {
  background: rgb(242, 206, 240);
}
.carousel-cards .each-card.maths-card .card-logo {
  background: rgb(246, 205, 205);
}
.carousel-cards .each-card.text-card .card-logo {
  background: var(--clr-primary-light);
}
.carousel-cards .each-card.normal-card .card-logo {
  background: var(--clr-blue-light);
}
.carousel-cards .each-card .card-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.carousel-cards .each-card .title {
  font-size: 20px;
  color: var(--clr-black);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.carousel-cards .each-card .desc {
  letter-spacing: 1px;
  font-size: 12px;
  color: var(--clr-black-90);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carousel-cards .icon-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-cards .icon-container img {
  width: 20px;
  cursor: pointer;
}

/* tabs-container */
.tabs-container {
  width: 100%;
}
.tabs-container .tabs-container-center {
  display: flex;
}
.tabs-container .tabs-container-center .tabs-button {
  background: transparent;
  box-shadow: unset;
  border-radius: 0px;
  font-weight: 400;
}
.tabs-container .tabs-container-center .tabs-button.active {
  border-bottom: 2px solid var(--clr-primary);
  font-weight: bold;
}

/* content-section-container */
.content-section-container {
  width: 100%;
}
.content-section-container .content-section-center {
  display: flex;
}
.content-section-container .content-section-center .content-section-left {
  flex: 0 0 25%;
  width: 100%;
  margin-right: 20px;
}
.content-section-container .content-section-center .content-section-right {
  /* flex: 0 0 30%; */
  width: 100%;
}

.content-section-container .content-section-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
  background: var(--clr-white);
}
.content-section-container .content-section-left .date-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}
.content-section-container .content-section-left .date-info .each-legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content-section-container .content-section-left .date-info > .text {
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--clr-black-80);
  text-transform: capitalize;
}
.content-section-container .content-section-left .date-info .each-legend .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
.content-section-container
  .content-section-left
  .date-info
  .each-legend
  .dot.green {
  background: green;
}
.content-section-container
  .content-section-left
  .date-info
  .each-legend
  .dot.red {
  background: red;
}
.content-section-container
  .content-section-left
  .date-info
  .each-legend
  .dot.voilet {
  background: var(--clr-primary);
}
.content-section-container .content-section-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-section-container .content-section-right > .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.content-section-container
  .content-section-right
  .button-container
  .icons-related {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.content-section-container
  .content-section-right
  .button-container
  .icons-related
  > .button-primary-light {
  min-width: unset;
  border-radius: 50%;
  text-transform: capitalize;
}
.content-section-container
  .content-section-right
  .button-container
  .icons-related
  > .button-primary-light:nth-child(2) {
  border-radius: 50px;
}
.content-section-container
  .content-section-right
  .button-container
  .icons-related
  > .button-primary-light
  img {
  width: 15px;
}
.content-section-container .content-section-right .date-dispay-time {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content-section-container .content-section-right .date-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);
  transition: var(--transition);
  padding: 10px 30px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container:hover {
  box-shadow: var(--box-shadow-dark);
}
.small-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.small-dot.green {
  background: green;
}
.small-dot.red {
  background: red;
}
.small-dot.voilet {
  background: var(--clr-primary);
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .left.date-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .left.date-text
  .date {
  font-size: 30px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .left.date-text
  .text {
  font-size: 16px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .center-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .center-item
  .title {
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .center-item
  .desc {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .right.icons {
  display: none;
  gap: 10px;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container:hover
  .right.icons {
  display: flex;
}
.content-section-container
  .content-section-right
  .date-card-container
  .each-card-container
  .right.icons
  img {
  width: 20px;
}
